.modal {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0,0,0,0.4);
  
  &__message {
    padding: 40px;
    background: white;
  }
}