.main-header {
  background-color: $darkBlue;

  &__content {
    display: flex;
    align-items: center;
    padding: 5px;

    @media (min-width: $tablet) {
      padding: 20px;
    }
  }

  &__logo {
    height: 34px;
    width: 34px;
    margin-right: 10px;

    @media (min-width: $tablet) {
      height: 100px;
      width: 100px;
      vertical-align: middle;
    }
  }

  &__text {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }

  &__company-name {
    // box model
    padding: 0;
    margin: 0;
    display: none;

    @media (min-width: $tablet) {
      display: inline-block;
      vertical-align: middle;
    }

    // typography
    color: $white;
    font-family: $mainFont;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    @media (min-width: $tablet) {
      font-size: 30px;
    }
  }


  &__phone-number {
    // box model


    // typography
    color: $white;
    font-family: $mainFont;
    font-weight: 300;
    font-size: 18px;
    @media (min-width: $tablet) {
      font-size: 20px;
    }
  }
}
