.main-footer {
  display: none;
  @media(min-width: $tablet) {
    display: block;
  }

  border-top: 5px solid $lightBlue;
  background-color: $darkBlue;

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media(min-width: $tablet) {
      padding: 5px 20px;
    }
  }

  &__copyrights {
    color: $white;
    font-family: $mainFont;
    font-weight: 300;
    font-size: 14px;
  }
}

