.nav {
  background-color: $lightBlue;

  &__content {
    padding: 10px 5px;
    @media (min-width: $tablet) {
      padding: 20px;
    }
  }

  &__form {
  }

  &__form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;

    @media (min-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &__form-input {
    height: 40px;
    flex: 1;

    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
  }

  %form-icon {
    margin-right: 20px;
    width: 47px;
    height: 32px;

    background-repeat: no-repeat;
    background-position: center;
  }

  &__form-icon--car {
    @extend %form-icon;
    background-image: url("../img/icon-car.png");
  }

  &__form-icon--evac {
    @extend %form-icon;
    background-image: url("../img/icon-evac.png");
  }


  &__stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    color: $white;
    font-family: $mainFont;
    font-weight: 300;
    line-height: 1.6;
  }
}



