@import "normalize";
@import "vars";
@import "container";
@import "main-header";
@import "navigation";
@import "map";
@import "main-footer";
@import "error-modal";
@import "autocomplete";

body {
  // box model
  position: relative;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
